<!-- <app-login (messageEvent)="receiveMessage($event)"></app-login> -->

<div class="container-fluid">
  <div class="container">
    <h2>Welcome to your Dashboard</h2>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12 card">
        <div class="card-body">
          <h3>Engage a Geek</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            eum excepturi! Ex repellendus accusantium nobis inventore expedita
            reprehenderit minima quo.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 card">
        <div class="card-body">
          <h3>Engage a Geek</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            eum excepturi! Ex repellendus accusantium nobis inventore expedita
            reprehenderit minima quo.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 card">
        <div class="card-body">
          <h3>Engage a Geek</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            eum excepturi! Ex repellendus accusantium nobis inventore expedita
            reprehenderit minima quo.
          </p>
        </div>
      </div>
    </div>
    <a routerLink="/login" routerLinkActive="active"
      >Login into another account</a
    >
    <p>Email:{{ user.email }}</p>
  </div>

  <!-- <p>password: {{ user.password }}</p> -->
</div>
