/* You can add global styles to this file, and also import other style files */


.container-fluid{
    background:linear-gradient(to right, blue, purple)!important;
    width: 100vw;
    height: 100vh;

}